<!DOCTYPE html>
<html lang="ru" ng-app="verbTensesTableApp">
    <head>
        <title>VTT - Verb Tenses Table</title>
        <meta http-equiv="content-Type" content="text/html;charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <script src="js/main.js"></script>
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="MainController" class="container">
            <div class="page-header">
                <h1>VTT - Verb Tenses Table</h1>
            </div>
            <p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input id="originalVerb" ng-model="originalVerb" type="text"></th>
                            <th>PAST</th>
                            <th>PRESENT</th>
                            <th>FUTURE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>SIMPLE</b></td>
                            <td>
                                <div>I <mark>{{ getVerbByTense("PAST", "SIMPLE", originalVerb ) }}</mark> it.</div>
                                <div>Did I <mark>{{ getVerbByTense("PRESENT", "SIMPLE", originalVerb ) }}</mark> it?</div>
                                <div>I did not <mark>{{ getVerbByTense("PRESENT", "SIMPLE", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I <mark>{{ getVerbByTense("PRESENT", "SIMPLE", originalVerb ) }}</mark> it.</div>
                                <div>Do I <mark>{{ getVerbByTense("PRESENT", "SIMPLE", originalVerb ) }}</mark> it?</div>
                                <div>I do not <mark>{{ getVerbByTense("PRESENT", "SIMPLE", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I will <mark>{{ getVerbByTense("FUTURE", "SIMPLE", originalVerb ) }}</mark> it.</div>
                                <div>Will I <mark>{{ getVerbByTense("FUTURE", "SIMPLE", originalVerb ) }}</mark> it?</div>
                                <div>I will not <mark>{{ getVerbByTense("FUTURE", "SIMPLE", originalVerb ) }}</mark> it.</div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>CONTINUOUS</b></td>
                            <td>
                                <div>I was <mark>{{ getVerbByTense("PAST", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Was I <mark>{{ getVerbByTense("PAST", "CONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I was not <mark>{{ getVerbByTense("PAST", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I am <mark>{{ getVerbByTense("PRESENT", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Am I <mark>{{ getVerbByTense("PRESENT", "CONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I am not <mark>{{ getVerbByTense("PRESENT", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I will be <mark>{{ getVerbByTense("FUTURE", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Will I be <mark>{{ getVerbByTense("FUTURE", "CONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I will not be <mark>{{ getVerbByTense("FUTURE", "CONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>PERFECT</b></td>
                            <td>
                                <div>I had <mark>{{ getVerbByTense("PAST", "PERFECT", originalVerb ) }}</mark> it.</div>
                                <div>Had I <mark>{{ getVerbByTense("PAST", "PERFECT", originalVerb ) }}</mark> it?</div>
                                <div>I had not <mark>{{ getVerbByTense("PAST", "PERFECT", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I have <mark>{{ getVerbByTense("PRESENT", "PERFECT", originalVerb ) }}</mark> it.</div>
                                <div>Have I <mark>{{ getVerbByTense("PRESENT", "PERFECT", originalVerb ) }}</mark> it?</div>
                                <div>I have not <mark>{{ getVerbByTense("PRESENT", "PERFECT", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I will have <mark>{{ getVerbByTense("FUTURE", "PERFECT", originalVerb ) }}</mark> it.<div>    
                                <div>Will I have <mark>{{ getVerbByTense("FUTURE", "PERFECT", originalVerb ) }}</mark> it?<div>    
                                <div>I will not have <mark>{{ getVerbByTense("FUTURE", "PERFECT", originalVerb ) }}</mark> it.<div>    
                            </td>
                        </tr>
                        <tr>
                            <td><b>PERFECT CONTINUOUS</b></td>
                            <td>
                                <div>I had been <mark>{{ getVerbByTense("PAST", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Had I been <mark>{{ getVerbByTense("PAST", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I had not been <mark>{{ getVerbByTense("PAST", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I have been <mark>{{ getVerbByTense("PRESENT", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Have I been <mark>{{ getVerbByTense("PRESENT", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I have not been <mark>{{ getVerbByTense("PRESENT", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                            <td>
                                <div>I will have been <mark>{{ getVerbByTense("FUTURE", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                                <div>Will I have been <mark>{{ getVerbByTense("FUTURE", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it?</div>
                                <div>I will not have been <mark>{{ getVerbByTense("FUTURE", "PERFECTCONTINUOUS", originalVerb ) }}</mark> it.</div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </p>
            <p>
                <img ng-if="getPictureByVerb( originalVerb )" ng-src="{{ getPictureByVerb( originalVerb ) }}" alt="{{ originalVerb }}" />
            </p>
        </div>
    </body>
</html>
